<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
    <!-- Agrega enlaces a las bibliotecas Leaflet.js y Leaflet.css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="../../static/css/index.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    
    <div class="navbar">
        <a class="btn entrar" href="/formAdd">Agregar Ubicacion</a>
        <a class="btn entrar" href="/addJSON">Agregar JSON</a>
        <a class="btn entrar" href="/conexionesUbi">Crear Conexiones</a>
    </div>
    <main id="inicio">
        <article class="lado_izq">
            <div class="caja texto">
                <h4>Bienvenido <strong>Juan Camilo</strong> agrega una ubicacion de entrega.</h4>
                <div id="map" style="height: 300px;"></div>
                <p>La ruta mas corta para llegar es: {% for message in mensaje %}
                    {{ message }},
                  {% endfor %}</p>
            </div>
        </article>
        <article class="lado_der">
            <div class="caja formulario">
                <form action="/rutaCorta" method="post">
                    <h1 class="titulo">Calcular la Ruta mas Corta</h1>
                    <input type="text" id="ubicacion1" name="ubicacion1" class="campo" placeholder="Inicio">
                    <input type="text" id="ubicacion2" name="ubicacion2" class="campo" placeholder="Llegada">
                    <div class="botones">
                        <button class="btn entrar" type="submit">Calcular</button>
                        <a href="#" class="btn salir">Cancelar</a>
                </form>
                </div>
            </div>
        </article>
    </main>
<script src="../../static/js/main.js"></script>
</body>
</html>
