<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/login.css">
    <title>Formulario</title>
</head>
<body>
    <main id="inicio">
        <article class="lado_izq">
            <div class="caja texto">
                <h1><strong>Bienvenido</strong> por favor inicia sesion.</h1>
                <p>Si aun no eres usuario, por favor registrate.</p>
                <a href="/registro" class="btn salir">Registrate</a>
            </div>
        </article>
        <article class="lado_der">
            <div class="caja formulario">
                <form action="">
                  <h2 class="titulo">¡Inicia Sesion!</h2>
                <input type="text" class="campo" placeholder="Email">
                <input type="text" class="campo" placeholder="Contraseña">
                <div class="botones">
                    <a href="#" class="btn entrar">Entrar</a>
                </form>
                </div>
            </div>
        </article>
    </main>
</body>
</html>