<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/registro.css">
    <title>Formulario</title>
</head>
<body>
    <main id="inicio">
        <article class="lado_izq">
            <div class="caja texto">
                <h1>Registrate a nuestra <strong>APPWEB</strong> que dicha tenerte como usuario.</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore deserunt, incidunt blanditiis nam ducimus ut non consectetur, adipisci nostrum neque optio atque error animi accusamus maiores hic velit harum vel.</p>
            </div>
        </article>
        <article class="lado_der">
            <div class="caja formulario">
                <h2 class="titulo">¡Registrate!</h2>
                <input type="text" class="campo" placeholder="Nombre Completo">
                <input type="text" class="campo" placeholder="Correo">
                <input type="text" class="campo" placeholder="Contraseña">
                <div class="botones">
                    <a href="#" class="btn entrar">Registrarse</a>
                    <a href="/login" class="btn salir">Cancelar</a>
                </div>
            </div>
        </article>
    </main>
</body>
</html>