<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro exitosa</title>
    <link rel="stylesheet" href="/static/css/verificacion.css">
</head>
<body>


    <main id="inicio">

        <article class="claro">

            <div class="caja clara">

                <h2 id="parrafo">Registro exitoso. Se ha enviado un correo de verificación.</h2>

                <a class="btn entrar" type="submit" href="/" id="boton" >Volver al login</a>

            </div>


        </article>

    </main>


</body>
</html>